p{
    position: relative;
    top:50%;
    transform:translate(0,-50%);

}
#t{

    width: 100vw;
    height:100vh;


  
}
#a{
    position:absolute;
    width: 15%;
    height: 200px;
    bottom: 0px;
    left: 0px;
    margin:0;
    background-color: yellow;
    text-align: center;
}
#b{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    background-color: red;
    width: 15%;
    height: 200px;
    text-align: center;
}
#c{
    position: absolute;
  top: 0px;
  right: 0px;
  font-size: 18px;
  background-color: royalblue;
  width: 15%;
    height: 200px;
    text-align: center;
}
#d{
    position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 18px;
  width: 15%;
    height: 200px;
    text-align: center;
    background-color: green;
}
#ee{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
#e {
    width: 70%;
    height: 300px;
    top:50%;
    font-size:18px;
    background-color: blue;
    text-align: center;
    padding:5px;
}