body{
    background-image: url('5457d7c12177f21.jpg');
    
}
div{
    height: 50%;
    left:25%;
    position: relative;
    width:50%;
    margin:0 0 0 0;
}
h1{
    font-size: 30px;
    color: white;
    font-family:Impact, fantasy;
    background-color: teal;
    margin:0 0 0 0 ;
    padding:5px;
    
}
h2{
    font-size: 20px;
    color: white;
    font-family:Impact;
    background-color: teal;
    margin: 0 0 0 0;
    padding:5px;
}
address{
background-color: teal;
font-size: 15px;
color: white;
font-family:Impact, fantasy;
background-color: teal;
font-style: normal;
padding:5px;
}
a:link{
    text-decoration:none;
}
p{
    font-size: 15px;
    color: white;
    font-family:Impact;
    background-color: teal;
    margin: 0 0 0 0;
    padding:5px;
}
#a{
    font-size: 50px;
    color: white;
    font-family:Impact;
    height: 200px;
    background-color: rgb(159, 112, 173);
    margin: 0;
    padding:5px;
    text-align: center;
    
 
  
}